
<div class="hero-wrapper">
  <div class="hero">
    <h1 class="siteName">ATEySixed</h1>
    <h3 class="hero-tagline">Don't go without</h3>
  </div>
</div>


<div class="about-block">
  <h1>ABOUT</h1>
  <h2>Are you tired of bieng told "sorry, we just ran out"?</h2>
  <h2>Find out before you go, or share with others if it was too late for you</h2>

  <br><br>





<a href="/restaurant-search" class="btn btn-warning btn-lg">Check if they are OUT before you go</a>




