
{{!-- <div class="hero"></div>
<h1>{{title}}</h1>

<h3>You are not going there just for the peas</h3>


      {{!-- <a href="/test-new-tip">Test new tip (requires authentication)</a> --}}


{{!-- Are you tired of bieng told we are out? find out before you go, or share with others if it was too late for you --}}



<div class="hero-wrapper">
  <div class="hero">
    <h1 class="siteName">ATEySixed</h1>
    <h3 class="hero-tagline"> Say hello to the future</h3>
  </div>
</div>

<div class="about-block">
  ABOUT
</div>
<div class="next-block">
  NEXT
</div>

      {{!-- <a href="/test-new-tip">Test new tip (requires authentication)</a> --}}