<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>

{{!-- bootstrap --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

{{!-- project's CSS --}}
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <nav class="navbar">

          <ul class="flex-container gutter nav-container">

            <li><a href="/">Home</a></li>
            <li><a href="/restaurant-search">Search Restaurants</a></li>

            {{#unless user}}
            <li><a href="/signup">Signup</a></li>
            <li><a href="/login">Login</a></li>
            {{/unless}}

            {{#if user}}
            <li><a href="/logout">Logout</a></li>
            {{/if}}

          </ul>

    </nav>



    {{{body}}}



{{!-- axios --}}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

{{!-- jquery --}}
    <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

{{!-- ajax --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

{{!-- bootstrap --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

{{!-- project's JS --}}
    <script src="javascripts/restaurant_search.js"></script>
{{#if tips}}
    <script src="javascripts/get_corrobs.js"></script>
{{/if}}

  </body>
</html>