
<div class="container">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">


          {{#if user}}
            <h1>HELLO {{user.username}}</h1>
          {{/if}}



          <h2>Search Restaurants</h2>

          <div id="form-container" class="form-group">
            <div>
              <label for="restaurant-name">Name of the restaurant</label>
              <input id="restaurant-name" class="form-control" type="text" name="restaurant-name" placeholder="Italian place">
            </div>
            <br>
            <div>
              <label for="location">Location</label>
              <input id="location" class="form-control" type="text" name="location" placeholder="address, city, and/or zip code">
            </div>

            {{#if message}}
              <br>
              <div class="error-message">{{ message }}</div>
            {{/if}}

            <br><br>

            <button class="btn btn-primary" type="button" id="get-restaurants">Look for restaurants</button>

          </div>

        </div>
    </div>
</div>





















<div class="restaurant-list-container">

  
  
  
</div>


