<h2>Create a tip!</h2>

<form action="/test-new-tip" method="POST" id="form-container">
  <div>
    <label for="item">Item they are out of</label>
    <input id="item" type="text" name="item" placeholder="French fries">
  </div>
  <br>

  {{#if message}}
    <br>
    <div class="error-message">{{ message }}</div>
  {{/if}}

  <br><br>

  <button>Add tip</button>

</form>

<h1>All tips</h1>

{{#each tips}}
<h3>{{this.item}}</h3>

{{#if this.OWNER}}
<p>you <b>------POSTED-----</b> this one</p>
{{/if}}

{{#unless this.OWNER}}
<p>you did not post this one</p>
{{/unless}}
{{/each}}