


<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-4">

          <h2>Sign Up</h2>

          <form action="/signup" class="form-group" method="POST" id="form-container">
            <div>
              <label for="username">Username</label>
              <input id="username" type="text" class="form-control" name="username" placeholder="JonSnow">
            </div>
            <br>
            <div>
              <label for="password">Password</label>
              <input id="password" type="password" class="form-control" name="password" placeholder="Your password">
            </div>

            {{#if message}}
              <br>
              <div class="error-message">{{ message }}</div>
            {{/if}}

            <br><br>

            <button  class="btn btn-primary">Create account</button>

            <br><br>

            <p class="account-message">
              Do you have an account?
              <a href="/login">Login</a>
            </p>

            <br><br>
            <a href="/">Go Home</a>
          </form>

        </div>
    </div>
</div>










